<!DOCTYPE html>
<html class="remi-html">
    <head>
        <meta charset="utf-8" />
        <title>Remi</title>
        <meta name="keywords" content="Remi，会议，会议室，会议预定，会议室预定，联合办公，共享空间，联合办公空间，工位，工位管理，访客，访客登记，来访预约，孵化器，联合办公运营管理系统，联合办公垂直SaaS系统，企业日常运营管理系统，扫码预定，移动办公">
        <meta name="description" content="Remi围绕联合办公空间日常运营，涵盖会议室预定、工位租赁和来访预约三大功能，以全面的权限系统为支撑，帮助空间解决管理问题并提高效率；Remi致力于将to B的产品打造出to C的体验，做最好用的联合办公空间管理系统。">
        <link rel="shortcut icon" href="http://assets.upact.cn/favicon.png">

    </head>

    <body class="remi-body">
        <h1 style="display: none;">Remi-Task2Talent</h1>
        <div id="container" class="remi-wrap"></div>
        <script src="//cdn.bootcss.com/babel-polyfill/7.0.0-alpha.12/polyfill.js"></script>
        <script src="/dist/entry.bundle.js"></script>
    </body>
</html>
